# Docker
Dockerfile
*.Dockerfile
.dockerignore
docker-compose*.yml

# Git
.git
.gitignore

# NodeJS
**/node_modules

# Next.js
**/.next

# Configurations
.github
.vscode

# Text
**/README.md
CONTRIBUTING.md
LICENSE

# Assets
assets